Set ML model path, leave ru_core_news_md for default spacy model
BEST_MODEL=ru_core_news_md

# Set internal DB credentials
# fyi: use postgres_db as host or change it in docker-compose.yml
# fyi: use postgres as db name if you want to use init.sql
DB_PASSWORD=postgres
DB_USER=postgres
DB_NAME=test_db
DB_HOST=demo-postgres

# Set user key == streamlit user password
API_USER_KEY=secret

# Set admin keys for API and DB
API_APP_KEY=secret
API_DB_KEY=secret

# Enable or disable connection to DB
CONNECT_TO_DB=1

# Set debug mode
DEBUG=1

# For streamlit app set user and password
TEST_USER=test
TEST_PASSWORD=secret